<div class="columns columnas"

>

  <div *ngFor="let movie of data" class="column is-3 carta" >
      <a routerLink="/detail/{{movie.id}}"  routerLinkActive='active'  >
       <div class="layout" [ngStyle]="{'background-image': 'url(http://image.tmdb.org/t/p/w1280' +  movie.backdrop_path +  ')'}" >

               <h1 class="title">{{movie.title}}</h1>
               <p class="subtitle">{{movie.original_title}}</p>
               <p>Puntuación : {{movie.vote_average}} </p>
               <p >{{movie.release_date | formatDate}}</p>
       </div>

      </a>

  </div>
</div>  