.main{
    height:100vh ;
    min-height: 1000px;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5));
    overflow: auto;
    @media screen and (max-width:"800px"){
        min-height: 500px;
        height:50vh ;


        
    }
    
}
h1{
    color:white;
    font-size: 10em;
    text-shadow: 2px 2px 2px #000000;
}
p {
    color: #000000;
    background-color: azure;
    text-align: center;
}
.enlinea{
    display: inline;
}
.stars-div{
    background-color: white;
    display: flex;
    justify-content: center;
}
.similares {
    font-size: 20px;
    color: white;

}
.cast {
    display: flex;
    flex-flow: column wrap;
    max-height: 20em ;
    overflow: scroll;
    background-color: transparent;
    overflow-x: hidden;
   

}
h2 {
    color: white;
    font-size: 18px;
}
.direct{
    display: flex;
    background-color: transparent;
    align-content: flex-start;
    margin-bottom: 3em;
}
.names{
    display: flex;
    background-color:transparent;
    width: 30%;
    p{
        margin-left: 0.5em;
    }
    @media screen and (max-width:"900px"){
        width: 100%;


        
    }
}

