.main{
    height:100vh ;
    min-height: 1000px;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5))
}
h1{
    color:white;
    font-size: 10em;
    text-shadow: 2px 2px 2px #000000;
}
p {
    color: #000000;
    background-color: azure;
    text-align: center;
}
.enlinea{
    display: inline;
}
.stars-div{
    background-color: white;
    display: flex;
    justify-content: center;
}
.similares {
    font-size: 20px;
    color: white;

}

