
h1{
    color:white;
    font-size: 10em;
    text-shadow: 2px 2px 2px #000000;
}
h2 {
    color:white;
    font-size: 3em;
    text-shadow: 2px 2px 2px #000000;

}
.people {
     background-size: cover ;
     background-position: center;
     width: 50%;
     border-radius: 30%;
     margin-top: 1em;
     -webkit-box-shadow: -18px 18px 50px 0px rgba(250,245,250,1);
     -moz-box-shadow: -18px 18px 50px 0px rgba(250,245,250,1);
     box-shadow: -18px 18px 50px 0px rgba(250,245,250,1);
     
    }
.birth {
  margin: 2em 0 1em 1em;
 }   
.main{
    display: flex;
    flex-flow: row nowrap;
    background: url('../../assets/images/teatro.jpg')no-repeat ;
    background-size: cover;
    background-position: bottom;
    h1{
        text-align: left;
    }

}
.info {
    flex-basis: 80%;
}
p{
    color: white;
    text-shadow: 2px 2px 2px #000000;
}
.place{
    font-style: italic;
    font-weight: lighter;
}
.photoCard {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 10%;
    
    
}