
h1{
    color:white;
    font-size: 10em;
    text-shadow: 2px 2px 2px #000000;
}
h2 {
    color:white;
    font-size: 5em;
    text-shadow: 2px 2px 2px #000000;

}
.people {
     background-size: cover ;
     background-position: center;
     width: 50%
    }
.main{
    display: flex;
    flex-flow: row nowrap;
    h1{
        text-align: left;
    }

}
.info {
    flex-basis: 80%;
}
p{
    color: white;
}
.place{
    font-style: italic;
    font-weight: lighter;
}