nav {
    display: flex;
    flex-flow : row nowrap;
    justify-content: center;
    background-color: #0e0e62;
    padding:1em;
    a{
        color:white;
        margin:0 1em;
    }
    a:hover {
        transition: 1s;
        color:black;
        font-size: 31px;
    }
}