<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
  <a  class="title is-3 navbar-item" routerLink="movies/top_rated" routerLinkActive='active'>Top Rated  </a>
  <a  class="title is-3 navbar-item" routerLink ="movies/popular" routerLinkActive='active'> Popular  </a>
  <a  class="title is-3 navbar-item" routerLink = "movies/upcoming" routerLinkActive='active'>Upcoming</a>
  <a  class="title is-3 navbar-item" routerLink = "movies/search" routerLinkActive='active'> 🔍 </a>

    </div>
</nav>

